.sidebar-container {
       /* min-width: 18%; 
       width: 28% */
       max-width: 336px !important; 
       min-width: 16%; 
       background-color: #202d48;
    .sidebar-header {
        display: flex;
        color: aquamarine;
        font-size: xx-large;
        gap: 2px;
        margin: 19px 0px 25px 30px;
        .sidebar-logo {
            width: 90%;
            height: 40px;
            background-image: url('../assets/img/TikTik_logo.png');
            background-size: cover;
            background-position: center;
        }
    }

    .sidebar-dashboard {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin: 10px 20px 0px 29px;
        padding: 10px 35px 10px 15px;
        background-color: #334977;
        border-radius: 10px;
        .sidebar-dashboard-title {
            color: #ffffff;
        }
    }
}