.task-column {
    background: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 8px;
    width: 30%;
  }
  
  .task-column h2 {
    border-bottom: 2px solid;
    padding-bottom: 10px;
  }
  
  .add-new-card {
    background: none;
    border: 2px dashed #ccc;
    border-radius: 8px;
    color:black;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
  }
  